%centrar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

*{
    font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
}

$color-redPink: #f62f5e;
$color-whiteTwo: #ffffff;