.Filterscont{
    background-color: antiquewhite;

    &__cantidad{
        &__dep{
            color: gray;
            &__active{
                color: black;
            }
        }
    }

    &__tituloCats{
        &__cat{
            color: gray;
            &__active{
                color: black;
            }
        }
    }

    &__colors{
        &__color{
            &__active{
                color: red;
            }
        }
    }
    
    &__sizes{
        &__size{
            &__active{
                color: red;
            }
        }
    }

    &__dobleSlider{
        width: 90%;
        margin: 0 auto 20px;
        text-align: center;

        input{
            //pointer-events: none;
            //outline: none;
            border-radius: 8px;
            width: 40%;
        }
    }
}