.Filterscont{
    background-color: antiquewhite;

    &__cantidad{
        &__dep{
            color: gray;
            &__active{
                color: black;
            }
        }
    }

    &__tituloCats{
        &__cat{
            color: gray;
            &__active{
                color: black;
            }
        }
    }

    &__colors{
        &__color{
            &__active{
                color: red;
            }
        }
    }
}