@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800,900');
//@import '../node_modules/bootstrap/scss/bootstrap';

html, body{
  margin: 0;
  padding: 0;
}

.contenedor{
  width: 50px;
  height: 20px;
  display: flex;
  justify-content: end;
  align-items: end;
}

.Logo{
  font-family: 'Montserrat', sans-serif;
  color: #8a2be2;
  font-size: 150%;
}

.inputSearch{
  width: 0%;
  margin: 0%;
  padding: 0%;
  height: 0%;
  color: black;
  display: inline;
  border: none;
  transition: width 0.3s ease-out;
}

.descolapsado{
  transition: width 0.3s ease-out;
  width: 100px;
  height: 20px;
  display: inline;
  margin: 0 6%;
  background-color:rgba(255, 255, 255, 0.096);
}

h3{
  font-size: 99%;
}

.imgSearch{
  height: 99%;
}